
body{
  background: #3c3c48;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
}

.container{
  background: #212026;
  width: 500px;
  padding: 20px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

form{
  width: 100%;
  padding: 20px;
}

table {
  margin-top: 20px;
  width: 100%;
}

tr, td {
  border: 1px solid;
  font-size: 12px;
  padding: 5px;
} 


input {
  background: #212026;
  padding: 10px;
  border: 1px solid grey;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 13px;
}

@media only screen and (max-width: 600px) {
  
.container{
  width: 100%;
}

}